<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Yojo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2083CA91C4C344D0039A786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2083CC01C4C344D0039A786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2083CCB1C4C344D0039A786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
